#sectionCompetences {
  .competences-domaine {
    p {
      padding-left: .5rem;
      span {
        margin: .3rem;
        path {
          stroke: $light-blue;
        }
      }
      
    }
  }

  .competences-progress-bar {
    .skills {
      margin-bottom: 1rem;
      text-transform: uppercase;
      position: relative;
      display: flex;
      padding: 5px;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
      border-radius: 20px;
      transition: 0.5s;
      background-color: $blackMed;
      .name {
        position: absolute;
        z-index: 50;
        text-align: right;
        text-transform: uppercase;
        color: $themeColorLight;
        margin-left: 20px;
        font-size: 1em;
        @media screen and (max-width: 800px) {
          font-size: .8em;
        }
      }

      .percent {
        position: relative;
        width: 100%;
        height: 20px;
        margin: 0 10px;
        border-radius: 10px;
        box-shadow: inset 0 0 10px $boxShadow-med;
        overflow: hidden;
      }
      .progress {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 10px;
        background-image: $gradBleuR;
      }
      .progress-design {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 10px;
        background-image: $gradYellowR;
      }

    }
  }
}