#sectionContact{
    // height: 100vh;

    .send-success {
        position: fixed;
        top: 5rem;
        right: 1rem;
        z-index: 500;
        width: 230px;
        height: 58px;
        cursor: pointer;

        color: #fff;
        background-color: #4CAF50;
        border-radius: 10px;
        border: 1px solid $blackLight;
        box-shadow: $boxShadow-light;
    }
    .send-error {
        position: fixed;
        top: 10rem;
        right: 1rem;
        z-index: 500;
        width: 150px;
        height: 40px;
        cursor: pointer;

        color: #fff;
        background-color: #DC3545;
        border-radius: 10px;
        border: 1px solid $blackLight;
        box-shadow: $boxShadow-light;
    }
    // .in-out {
    //     animation: fadeOut 1s;
    //     animation-delay: 3s;
    //     @keyframes fadeOut {
    //         to {opacity: 0;}
    //     }
    // }
        //     .svg-btop {
        //     position: relative;
        //     z-index: 100;
        //     bottom: 0rem;
        //     left: 0;
        //     right: 0;
        //     transform: rotateZ(180deg);
        // }
    .contact {
        // position: fixed;
        // height: 95vh;
        // z-index: -100;
        // bottom: 0rem;
        // left: 0;
        // right: 0;
        // margin-bottom: 0;
        // transition-duration: .5s;
        // margin-top: 10rem;


        .contact-content {
            margin-top: 5rem;
            .form-control {
                margin-top: 1rem;
            }
            .form-content {
                position: relative;

            }
            .lds-ellipsis {
                position: relative;
                left: 0rem;
                bottom: 2rem;
                height: 40px;
            }
            .send-btn {
                position: relative;
                height: 40px;
                left: 0rem;
                bottom: .5rem;
                border-color: #a200bc;
                border-radius: 20px;
                overflow: hidden;
                z-index: 1;
                font-weight: 400;
                box-shadow: 0 0 15px 8px #a300bc2e;
                background-image: linear-gradient(to right top, #ebbc12, #ff8224, #ff3754, #ca0073, #a200bc);
                &:hover {
                    color: #F5F5F5;
                    box-shadow: 5px 5px 5px 3px #a300bc46;
                    transition-duration: .3s;
                }
            }
            .alert-form {
                position: absolute;
                right: 3rem;
                bottom: 3rem;
                color: red;
            }
        }


        .icon-logo img {
            height: 35px;
            border-radius: 30px;
            transition: .2s;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
    }


    // .g-recaptcha {
    //     position: absolute;
    //     z-index: 15;
    //     top: 35%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     box-shadow: $boxShadow-light;
    // }

}