#sectionHome {

  height: 100vh;
  // background-image: linear-gradient(to right top, #ebbc12, #ff8224, #ff3754, #ef0070, #a200bc);
  background-image: linear-gradient(to right top, #ebbc12, #ff8224, #ff3754, #ca0073, #a200bc);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .scroll-to-next-btn {
    position: relative;
    bottom: 2rem;
  }



}