#sectionHome {
  height: 100vh;
  background-image: $gradYellow ;

  .scroll-to-next-btn {
    position: relative;
    bottom: 2rem;
  }

  .full-screen {
    border: 1px solid $themeColorBlack;
    border-radius: 20px;
    padding: .3rem;
    width: 170px;
    text-align: center;
    cursor: pointer;
    &:hover {
      svg {
        font-size: 1.2em;
      }
    }
    svg {
      margin-right: .5rem;
      margin-top: -.2rem;
    }
  }

    .reset-btn {

      cursor: pointer;
      width: 60px;
      border: 1px solid $themeColorBlack;
      border-radius: 20px;
      &:hover{
        text-decoration: underline;
      }
    }
  
  .autor {
    span {
      font-size: .8em;
      text-decoration: none;
      cursor: pointer;
      color: $light-blue;
    }
  }

  .fill-controls-btn {
    position: absolute;
    top: 0rem;
    left: 16rem;
    z-index: 55;
    border-radius: 20px;
    padding: .2rem;
    cursor: pointer;
    width: 40px;
    img{
      height: 30px;
      transition-duration: .5s;
      &:hover {transform: rotateZ(180deg);}
    }
  }

  .fill-controls {
    position: absolute;
    top: 5rem;
    z-index: 50;
    display: block;
    width: 250px;
    border-radius: 20px;
    padding: .5rem;
    transition-duration: 1s;
    user-select: none;

    .form-label {
      font-weight: bold;
    }
    .range-sliders {
      position: relative;
    }
    .range-slider {
      margin-left: .5rem;
    }

    .check-rotate {
      position: absolute;
      top: 3.5rem;
      left: 4rem;
    }
  }


}