#sectionObjectifs {
  position: relative;
  .objectifs-content {
    p {
      font-size: 1.05em;
      span {
        font-size: 1.5em;
        color: $light-blue;
      }
    }
  }


  .objectifs-parallax {

    position: absolute;
    z-index: -1;
    height: 500px;
    @media screen and (max-width: 982px) {
      left: 5rem;
    }

    .circle {
      position: absolute;
      top: -10rem; 
      right: -20rem;
      
    }
  }
  img {
    -moz-animation: deform 15s linear infinite;
    -webkit-animation: deform 15s linear infinite;
    animation: deform 15s linear infinite;
  }

  // @-moz-keyframes deform { 100% { -moz-transform: rotate(360deg); } }
  // @-webkit-keyframes deform { 100% { -webkit-transform: rotate(360deg); } }
  // @keyframes deform { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}
  @-moz-keyframes deform { 
    from {
      -moz-transform: perspective(20px) rotateX(0deg) rotate(0deg); 
    }
    to {
      -moz-transform: perspective(20px) rotateX(0deg) rotate(0deg); 
    }
  }
  @-webkit-keyframes deform { 
    from {
      -webkit-transform: perspective(20px) rotateX(0deg) rotate(0deg); 
    }
    to {
      -webkit-transform: perspective(20px) rotateX(0deg) rotate(0deg); 
    }
  }
  @keyframes deform { 
    from {
      transform: perspective(20px) rotateX(0deg) rotate(0deg); 
    }
    to {
      transform: perspective(0px) rotateX(1deg) rotate(360deg); 
    }
  }


}