#sectionObjectifs {
  position: relative;
  .objectifs-content {
    p {
      position: relative;
      z-index: 5;
      font-size: 1.05em;
      span {
        font-size: 1.5em;
        color: $light-blue;
      }
    }
  }


  .objectifs-parallax {
    position: absolute;
    z-index: 1;
    height: 500px;
    @media screen and (max-width: 982px) {
      left: 5rem;
    }

    .wave {
      position: absolute;
      top: -5rem; 
      right: -8rem;
      z-index: 2;

    }
    .surf {
      z-index: 4;
      animation: deform 12s linear infinite;

    }
    .fish {
      position: absolute;
      top: 7rem; 
      right: 4rem;
      z-index: 3;
      -moz-animation: deform 15s linear infinite;
      -webkit-animation: deform 15s linear infinite;
      animation: deform 10s linear infinite;
    }
  }

  @keyframes deform { 
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0px);
    }
  }


}