#sectionPortfolio {

  .modal-preview {
    height: 200px;
  }

  .portfolio-card {
    height: 220px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10),
                0 2px 3px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-align: center;
    transition-duration: .3s;

    &:hover {
      box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25),
                  0 10px 10px rgba(0, 0, 0, 0.20);
      // transform: scale(1.01);
      transition-duration: .3s;
    }


  }



}