.scroll-to {
  z-index: 50;

  svg {
    cursor: pointer;
  }
  
  .scroll-to-next-btn {
    position: relative;
    // bottom: 2rem;
  }
  .scroll-to-prev-btn {
    position: relative;
    top: 1rem;
  }
  
}