.scroll-to {
  // height: 0px;
  z-index: 50;

  svg {
    cursor: pointer;
  }

  svg:hover .arrow-up {
    stroke: red;
  }
  
  .scroll-to-next-btn {
    position: relative;
    // bottom: 2rem;
  }
  .scroll-to-prev-btn {
    position: relative;
    top: 1rem;
  }
  

}