.slick-slide-wrapper {
  padding: 2rem;
  border-radius: 20px;
  transition-duration: 0.5s;

  @media screen and (max-width: 982px) {
    padding: 2rem;
  }

  .slick-slide-content {
    outline: none;
    img {
      background-color: #fff;
      transition-duration: 0.3s;
      width: 70%;
      cursor: grab;
    }
  }
}
