.slick-slide-wrapper{
  padding: 4rem;
  border-radius: 20px;
  transition-duration: .5s;
  &:hover {
    box-shadow: $boxShadow-med;
  }
  @media screen and (max-width: 982px) {
    padding: 2rem;
 }
  .slick-prev {
    position: absolute;
    z-index: 100;
    left: 2rem;
      &::before {
        font-size: 25px;
        color: $blackMed;
      }
    }
    .slick-next {
    position: absolute;
    z-index: 100;
    right: 2.3rem;
    &::before {
      font-size: 25px;
      color: $blackMed;
    }
  }

  .slick-slide-content {
    outline: none;
    background-color: #fff;
    img {
      width: 100%;
      cursor: grab;
    }

  }
  

}


