.card__wrapper {
    padding-bottom: 6rem;
}

.card__wrapper__right {
    perspective: 1500px;
}
.card__wrapper__left {
    position: sticky;
    top: 90px;
    margin-bottom: 6rem;
    align-self: flex-start;
}

.card__loading {
    position: relative;
    width: 380px;
    min-height: 210px;
}
.preview_one {
    position: absolute;
    bottom: 2rem;
    left: 4rem;
    width: 0;
    height: 0;
    border-bottom: 134px solid #161d26;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
}
.preview_two {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    height: 0;
    width: 80px;
    border-bottom: 80px solid #161d26;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card {
    position: relative;
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.7rem;
    border: none;
    overflow: hidden;
    /* box-shadow: 20px -20px 4px hsla(0, 0%, 0%, 0.5); */

    background-color: transparent;
    -webkit-user-drag: none;
    transition: ease 0.3s;

    background-image: url('/media/cadre.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}
.card:hover {
    background-size: 102% 102%;
}

.card__blur {
    filter: var(--main-blur);
}
.card__image {
    width: 380px;
    max-height: 205px;
    overflow: hidden;
}
.card__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.scrolling__up__card {
    transition: linear 12s;
    transform: translateY(-100rem);
}
.scrolling__down__card {
    transition: all 12s;
    transform: translateY(0rem);
}

.card__left__title {
    display: flex;
    align-items: center;
}
.card__left__title img:hover {
    transform: scale(1.1);
}
.card__after__title,
.card__after__link,
.card__after__sub img {
    position: absolute;
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 0.7rem;
    color: var(--text-dark);
    border-radius: var(--border-radius);
    background-color: var(--main-bg-light);
    box-shadow: var(--main-bg-shadow);
    transition: transform 0.2s ease;
}
.card__after__title {
    top: -5rem;
}
.card__after__link {
    top: -5rem;
    right: 3rem;
}
.card__after__link:hover {
    color: var(--main-yellow);
    text-decoration: underline;
}
.card__after__sub img {
    left: 10px;
    bottom: -3rem;
    transition: transform 0.3s ease;
    width: 30px;
    height: 30px;
}

.card__after__title__display {
    transform: translateY(6rem);
}
.card__after__link__display {
    transform: translateY(6rem);
}
.card__after__sub__display img {
    transform: translateY(-60px);
}
.card__after__sub img:nth-child(2) {
    transition-delay: 0.1s;
    left: 60px;
}
.card__after__sub img:nth-child(3) {
    transition-delay: 0.15s;
    left: 110px;
}
.card__after__sub img:nth-child(4) {
    transition-delay: 0.2s;
    left: 160px;
}
.card__after__sub img:nth-child(5) {
    transition-delay: 0.25s;
    left: 210px;
}

.load__more {
    max-width: 200px;
    margin: 2rem auto;
}
.load__more span {
    padding: 0.5rem;
    text-align: center;
    color: var(--main-yellow);
    border: 1px solid var(--main-yellow);
    border-radius: 14px;
    cursor: pointer;
}
.load__more span:hover {
    color: var(--main-bg);
    background-color: var(--main-yellow);
}

@media (max-width: 991px) {
    .card__wrapper__left {
        padding-bottom: 10rem;
    }
    .card {
        transform: none !important;
        background-image: none;
    }
    .card__blur {
        filter: none !important;
    }
    .cards__translate {
        transform: none !important;
    }
}
