#Contact {
  position: relative;
}

#Contact .Contact__Form {
  position: absolute;
  overflow: hidden;
  bottom: 3.3rem;
  right: -3.5rem;
  z-index: 300;
  border-radius: var(--border-radius);
  border: 1px solid var(--text-light);
  
  /* background-image: url("/media/cadre.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; */
  -webkit-backdrop-filter: var(--main-blur);
  backdrop-filter: var(--main-blur);
  background: var(--main-bg-card-t);
  transition: ease .1s;
}

.ContactForm__Header {
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 250px;
  padding-left: .5rem;
}
.ContactForm__Header span {
  margin-left: .5rem;
}
.ContactForm__Body {
  padding: 0 1rem;
}



#Contact .Contact__Form form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
}
#Contact .Contact__Form form > :nth-child(n) {
  font-family: 'poppinsLight';
  margin: .5rem;
  font-size: .9rem;
  outline: none;
  border: none;
  /* box-shadow: var(--main-shadow-t); */
  padding: .5rem;
}
#Contact .Contact__Form textarea {
  min-width: 330px;
  min-height: 150px;
}


.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  /* center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: var(--main-yellow);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}



#Contact .Contact__Form .CloseContact__Btn {
  position: absolute;
  z-index: 200;
  top: .7rem;
  right: 1.3rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: translateY(-200px);
  animation: close 1s ease forwards;
  border-radius: 10px;
  padding: .1rem;
}
.st110, .st111 {
  fill: #efefef;
}
.st110 {
  transform: rotate(-190deg);
  animation: close 1s ease forwards;
}
.st111 {
  transform: rotate(190deg);
  animation: close 1s ease forwards;
}
@keyframes close {
  to { 
    transform:translateY(0) rotate(0deg); 
  }
}



#Contact .openContact__Btn {
  cursor: pointer;
}







.g-recaptcha {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
}





@media screen and (max-width: 600px) {
  #Contact .Contact__Form {
    position: absolute;
    left: -5rem;
    width: 80vw;
    overflow: hidden;
  }
  #Contact .Contact__Form input {
    padding: .1rem;
  }
  #Contact .Contact__Form textarea {
    max-width: 100%;
    min-width: 200px;
  }
}