
footer {
  position: relative;
  z-index: 31;
  border-top: 1px solid var(--main-yellow);
  background: var(--main-bg-t);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.footer__wrapper {
  position: relative;
}

.footer__right,
.footer__left {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */

}


footer ul {
  display: flex;
  width: 100%;
}
.footer__links .footer__item a {
  position: relative;
  top: 16px;
  height: 3rem;
  padding: 0.3rem 0 0 0;
  cursor: pointer;
  text-align: center;
  margin: 0 2rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-light);
}
.footer__item:hover {
  text-decoration: underline;
}

.footer__Link img:hover {
  transform: scale(1.1);
}

.copyright {
  position: absolute;
  bottom: -50px;
  width: 100%;
  padding: 1rem;
}
.copyright p {
  font-size: .9rem;
  text-align: center;
}


@media screen and (max-width: 991px) {
  .footer_left {
    width: 100%;
  }
}