
@import './_libs/spinner.css';
@import './_libs/appGuruz';
@import './Nav.css';
@import './Home.css';
@import './Cards.css';
@import './LargeCards.css';
@import './Contact.css';
@import './Footer.css';


/* Fonts */
@font-face {
  font-family: "poppinsRegular";
  src: url("./_libs/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsLight";
  src: url("./_libs/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsBold";
  src: url("./_libs/Poppins/Poppins-Bold.ttf") format("truetype");
}



:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --text-light: #F5F5F5;
  --text-dark: #09101A;
  --text-fade: 0.6;

  --main-bg-light: #ffffffd4;
  --main-bg-card: #131e2f;
  --main-bg-card-t: #131e2fca;
  --main-bg: #09101A;
  --main-bg-t: #09101aca;
  --main-yellow: #F2A20C;
  --main-yellow-t: #f2a20c7a;
  
  --main-bg-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  --main-blur: blur(4px)
}




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "poppinsLight", var(--font-mono);
  color: var(--text-light);
}

body {
  color: var(--main-text);
  background: var(--main-bg);
  overflow-x: hidden;

}

main {
  max-width: 1800px;
  padding-top: 3rem;
}
h1 {
  font-family: "poppinsBold";
  font-size: 50px;
  line-height: 72px;
  margin-bottom: 3rem;
}
h2 {
  font-family: "poppinsBold";
  font-size: 32px;
  opacity: var(--text-fade);
  margin-bottom: 2rem;
}
h3 {
  font-family: "poppinsBold";
  font-size: 24px;
  opacity: var(--text-fade);
}
h5 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  /* opacity: var(--text-fade); */
}
code,
code a{
  font-family: "poppinsBold";
  color: var(--main-yellow) !important;
  display: block;
}
code:hover {
  text-decoration: underline;
}

a {
  display: block;
  text-decoration: none;
}
li {
  list-style: none;
}
span {
  font-family: "poppinsBold";
}
.nav__item a {
  font-size: 17px !important;
  text-transform: uppercase;
}
p {
  padding: 0;
  margin: 0;
}


.link__active {
  color: var(--main-bg);
  background-color: var(--main-yellow);
}




.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: .08;
  background-repeat: no-repeat;
}
.bg__one {
  background-image: url("/media/test.svg");
}
.bg__two {
  background-image: url("/media/test2.svg");
}
/* .bg__two {
  animation: slidein 11s steps(12, end) infinite;
} */

@keyframes slidein {
  39%   { opacity:.08; }
  40%   { opacity:.3; }
  41%   { opacity:.08; }
  42%   { opacity:.08; }
  43%   { opacity:.3; }
  44%   { opacity:.08; }
  95%   { opacity:.08; }
  96%   { opacity:.3; }
  97%  { opacity:.08; }
}


@media screen and (max-width: 991px) {
  .bg__one, .bg__two {
    transform: none !important;
  }
}



.index__blob {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .08;
}
.index__blob__st0 {
  fill:#F2A20C;
}
.index__blob__st1 {
  fill: none;
  stroke:#F2A20C;
  stroke-width:5;
  transition: all 1s;
  /* stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  animation: wordSwith 3s ease-in-out infinite; */
}