
@import './_libs/spinner.css';
@import './Nav.css';
@import './Home.css';
@import './Cards.css';
@import './LargeCards.css';
@import './Contact.css';
@import './Footer.css';


/* Fonts */
@font-face {
  font-family: "poppinsRegular";
  src: url("./_libs/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsLight";
  src: url("./_libs/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsBold";
  src: url("./_libs/Poppins/Poppins-Bold.ttf") format("truetype");
}



:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --text-light: #fff;
  --text-fade: 0.6;

  --main-bg-card: #131e2f;
  --main-bg-card-t: #131e2fca;
  --main-bg: #09101A;
  --main-bg-t: #09101aca;
  --main-yellow: #F2A20C;
  --main-yellow-t: #f2a20c7a;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --main-blur: blur(5px)

  /* --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  ); */

}






* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "poppinsLight", var(--font-mono);
  color: var(--text-light);
}

body {
  color: var(--main-text);
  background: var(--main-bg);
}

main {
  max-width: 1800px;
    /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: var(--main-bg-t); */
}

h1 {
  font-family: "poppinsBold";
  font-size: 50px;
  line-height: 72px;
  margin-bottom: 3rem;
}
h2 {
  font-family: "poppinsBold";
  font-size: 32px;
  opacity: var(--text-fade);
  margin-bottom: 2rem;
}
h3 {
  font-family: "poppinsBold";
  font-size: 24px;
  opacity: var(--text-fade);
}
h5 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  /* opacity: var(--text-fade); */
}

code {
  font-family: "poppinsBold";
  color: var(--main-yellow);
  /* font-size: 15px; */
  display: block;
}

a {
  color: var(--main-yellow);
  font-size: 15px;
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav__item a {
  font-size: 18px !important;
  text-transform: uppercase;
}
span {
  font-family: "poppinsBold";
}

.link__active {
  color: #fff;
  border: 1px solid #fff;
}




/* .design__blob {
  min-width: 60vw;
  display: inline;
  position: absolute;
  top: 600px;
  left: 0;
  z-index: -1;
  filter: drop-shadow(-5px 5px 3px rgb(0 0 0 / 0.6));
} */
/* @media screen and (max-width: 991px) {
  .design-blob {
    display: none;
  }
} */
/* .design-blob .st0 {
  fill: var(--main-yellow);
} */