#home__wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#home__titles__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#home__title__portfolio {
    font-size: 8rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: var(--text-title-shadow);
}

#home__title__name {
    /* font-size: 3rem !important; */
    position: relative;
    top: -6rem;
    z-index: 2;
    background: var(--main-gradient-90);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#home__wrapper .home__bg__img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 60%;
    /* height: auto; */
    opacity: 0.4;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#home__subtitles__wrapper {
    position: absolute;
    bottom: 5rem;
    padding: 2rem;
    width: 80%;
    /* background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); */
}

.sub__title__portfolio {
    font-size: 2.5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--main-gradient-90);
}

.sub__title__name {
    font-family: 'poppinsLight', var(--font-mono);
    font-size: 1.3rem;
    line-height: 1.5;
}

/* add media size h3 */
@media screen and (max-width: 768px) {
    #home__title__portfolio {
        font-size: 4rem;
    }
    .home__bg__img {
        top: 50%;
    }

    #home__subtitles__wrapper {
        bottom: 1rem;
    }

    .sub__title__portfolio {
        font-size: 1.5rem;
    }

    #sub__title__name {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 720px) {
    #home__wrapper .home__bg__img {
        width: 100rem;
        height: 100vh;
        object-fit: cover;
    }
    #home__title__portfolio {
        font-size: 5rem;
    }
    #home__subtitles__wrapper {
        width: 100%;
        bottom: 5rem;
        padding: .3rem;
    }
    .sub__title__name {
        font-size: 1.1rem;
    }
}
