
.large__card_cv__preview {
  padding: 1.5rem 2rem;
  margin-bottom: 5rem;
  border-radius: var(--border-radius);
  max-width: 750px;
  background-image: url("/media/cadre.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transition: ease .1s;
}
.large__card_cv__preview:hover {
  background-size: 103% 103%;
  transition: ease .1s;
  -webkit-backdrop-filter: var(--main-blur);
  backdrop-filter: var(--main-blur);

}

@media screen and (max-width: 991px) {
  .large__card_cv__preview {
    padding: .5rem;
    background-image: none
  }
}
.large__card_cv__preview__image {
  max-width: 280px;
}
.large__card__body img {
  width: 100%;
  max-height: 350px;
  /* height: 100%; */
  object-fit: contain;
}
.large__card__cv {
  padding-top: 1rem;
  border-top: 1px solid var(--main-yellow);
  width: 200px;
  text-align: center;
}

