nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 131;
    background-color: var(--main-bg-light);
    color: var(--text-dark);
    border-radius: 0 0 10px 10px;
    padding: 0 1rem;
}

.link__active {
    text-align: center;
    background: var(--main-gradient-90);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.link__active::after {
    position: absolute;
    content: '';
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0rem;
    width: 20%;
    /* border-radius: 10px; */
    background: #000;
    transition: 0.2s;
}

.nav__links .nav__item a {
    cursor: pointer;
}

.nav__item {
    position: relative;
    width: 4rem;
}

.nav__item a::after {
    position: absolute;
    content: '';
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0rem;
    width: 20%;
    /* border-radius: 10px; */
    background: var(--main-gradient-90);
    transition: 0.2s;
}

.nav__item a:hover::after {
    width: 60%;
}

.nav__links img {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.nav__links img:hover {
    transform: scale(1.1) rotate(20deg);
}

.rs__link {
    width: 1.7rem;
    height: 1.7rem;
}

.profile__img {
    width: 3rem;
    height: 3rem;
}
.profile__img img {
    border-radius: 50%;
    object-fit: cover;
}

/* Styles pour le bouton de menu */
.toogle__nav__media {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav__media {
    position: absolute;
    top: 4rem;
    right: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-light);
}
.nav__media ul {
    display: flex;
    flex-direction: column !important;
    list-style: none;
    /* margin: 1rem 0; */
    padding: 0;
    gap: 1rem;
}

hr {
    margin: 1rem 0 1rem 0;
    border: 0;
    border-top: 1px solid var(--main-bg-dark);
    width: 100%;
}

@media (max-width: 920px) {
    .nav__large {
        display: none;
    }
    .nav__links.open {
        display: flex;
    }
    .toogle__nav__media {
        display: block;
    }
}

