/*** SASS VARIABLES ***/

// COLORS
$themeColorBlack: #222222
$themeColorLight: #F5F5F5
$light-blue: #008ecc
$blackMed: #333333
$blackLight: rgba(0, 0, 0, .2)

// Gradient
$gradYellow: linear-gradient(to right top, #ebbc12, #ff8224, #ff3754, #ca0073, #a200bc)
$gradBleu: linear-gradient(to right top, #00a7f0, #0091f4, #4976ef, #7b52dd, #a200bc)
$gradYellowR: linear-gradient(to right, #ebbc12, #ff8224, #ff3754, #ca0073, #a200bc)
$gradBleuR: linear-gradient(to right, #00a7f0, #0091f4, #4976ef, #7b52dd, #a200bc)
$gradSuccess: rgb(237,247,237)

// Text-Shadow
$textShadow-light: 2px 2px 2px rgba(0, 0, 0, .3)

// Box-shadow
$boxShadow-light: 0 0 10px 5px rgba(0, 0, 0, .2)
$boxShadow-light-rb: 3px 3px 5px 3px rgba(0, 0, 0, .2)
$boxShadow-med: 0 0 10px 5px rgba(0, 0, 0, .5)
