@import './app.sass';
@import './libs/normalize.scss';
@import './mixins.scss';
@import './appGuruz.scss';
// Parallax
@import './parallax.scss';

// Fonts
@font-face {
  font-family: 'quickSandLight';
  src: url("./libs/Quicksand/static/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'quickSandRegular';
  src: url("./libs/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'quickSandMedium';
  src: url("./libs/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
}


// UI
@import './partials/_header';
@import './partials/_home';
@import './partials/_competences';
@import './partials/_objectifs';
@import './partials/_portfolio';
@import './partials/_about';



// GeneralComponents
@import './partials/_scroll-to';
@import './partials/_modal-projects';
@import './partials/_slide-slick';





html {
  scroll-behavior: smooth;
}

body {
  font-family: "quickSandRegular", sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  padding: 0;
  // overflow: visible !important;
  padding-right: 0px !important;

}


section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  // height: 100vh;
  // min-height: 100vh;
  // padding: 1rem;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.section-content {
  height: 100%;
}

main {
  overflow: hidden;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}


h1 {
  font-size: 3vw;
  letter-spacing: .3em;

  @media screen and (max-width: 600px) {
    font-size: 5vw;
  }
}

h2 {
  font-size: 1vw;
  letter-spacing: .3em;

  @media screen and (max-width: 600px) {
    font-size: 2vw;
  }
}

h3 {
  font-size: 2em;
  margin: 3rem;
  letter-spacing: .2em;
  text-align: center;
}
h4 {
  letter-spacing: .2em;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

p {
  font-size: .9em;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #008fccc1;
}


.hide-div {
  display: none;
}

//  .scroll-to-next-btn, .scroll-to-prev-btn  {
//   transition-duration: 2s;
//   transition-delay: 1s;
//   opacity: 1;
// }
// .section-inactive {
//   opacity: 0;
// }

.nav-item>.active {
  border-bottom: 1px solid #333;
}