@import './app.sass';
@import './libs/normalize.scss';
@import './mixins.scss';
@import './appGuruz.scss';

// Fonts
@font-face {
  font-family: 'quickSandLight';
  src: url("./libs/Quicksand/static/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'quickSandRegular';
  src: url("./libs/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'quickSandMedium';
  src: url("./libs/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
}


// UI
@import './partials/_header';
@import './partials/_home';
@import './partials/_competences';
@import './partials/_objectifs';
@import './partials/_portfolio';
@import './partials/_about';
@import './partials/_contact';


// GeneralComponents
@import './partials/_scroll-to';
@import './partials/_modal-projects';
@import './partials/_slide-slick';




html {
  scroll-behavior: smooth;
}

body {
  font-family: "quickSandRegular", sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  padding: 0;
  padding-right: 0px !important;

  // margin-bottom: 90vh;
}
main {
  overflow: hidden;
  // margin-bottom: 95vh;

}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.section-content {
  height: 100%;
}



.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}


h1 {
  font-size: 3vw;
  letter-spacing: .3em;
  @media screen and (max-width: 600px) {
    font-size: 5vw;
  }
}

h2 {
  font-size: 1vw;
  letter-spacing: .3em;
  @media screen and (max-width: 600px) {
    font-size: 2vw;
  }
}

h3 {
  font-size: 2em;
  margin: 3rem;
  letter-spacing: .2em;
  text-align: center;
  position: relative;
  z-index: 50;
}
h4 {
  position: relative;
  z-index: 10;
  letter-spacing: .2em;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

p {
  font-size: .9em;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #008fccc1;
}


.hide-div {
  display: none;
}


.nav-item>.active {
  border-bottom: 1px solid #333;
}











.load {  
  animation: disp 2s ease-in-out;
  @keyframes disp {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}


.loading {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  transition-duration: 5s;

}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
  box-shadow: 0 0 50px 35px rgba(255, 255, 255, .5);
  animation: shad 1s ease-out;
  @keyframes shad {
    0% { box-shadow: 0 0 50px 5px rgba(255, 255, 255, .5); }
    100% { box-shadow: 0 0 50px 35px rgba(255, 255, 255, .5); }
  }
}

.loading-bar {
  height: 32px;
  background-image: linear-gradient(to right top, #ebbc12, #ff8224, #ff3754, #ca0073, #a200bc);
}


